@if(url$ | async; as url ){
  <header>
    <nav>
      <a mat-raised-button
      routerLink="pokedex"
      routerLinkActive="active"
      (click)="loaderService.isLoading.set(true)"
      [color]="url === 'pokedex' ? 'primary' : 'secondary'">{{ 'header.homePage' | translate }}</a>
    <a mat-raised-button
    routerLink="liked"
    routerLinkActive="active"
    (click)="loaderService.isLoading.set(true)"
      [color]="url === 'liked' ? 'primary' : 'secondary'">{{ 'header.likedPage' | translate }}</a>
  </nav>
</header>
}
