nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px 38px;
  padding: 30px;
  flex-wrap: wrap;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  padding: 7px 12%;
  letter-spacing: .345rem;
  color: #000;
  transition: 350ms linear;

  &:hover {
    background-color: #9E9E9E;
    color: #FFF;
  }

  &.active {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px -3px;
  }
}