form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
  max-width: 675px;
  margin: 0 auto 60px;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  width: 250px;
}

input {
  &[name="name"] {
    max-width: 405px;
  }

  &[name="id"] {
    max-width: 108px;
  }

  &[name="type"] {
    max-width: 130px;
  }

  &::-webkit-search-cancel-button {
    appearance: none;
    height: 14px;
    width: 14px;
    margin-right: 8px;
    cursor: pointer;
    background: url("data:image/svg+xml;utf8,<svg fill='rgb(196,196,196)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M18.3 5.71a1 1 0 0 0-1.41 0L12 10.59 7.11 5.7A1 1 0 0 0 5.7 7.11L10.59 12l-4.9 4.89a1 1 0 1 0 1.41 1.41L12 13.41l4.89 4.9a1 1 0 0 0 1.41-1.41L13.41 12l4.9-4.89a1 1 0 0 0 0-1.4z'/></svg>") no-repeat center;
    background-size: 14px 14px;
    transition: filter .2s ease;
  }

  &::-webkit-search-cancel-button:hover {
    filter: brightness(.5);
  }
}