:host {
  &:has(.not-fixed) {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }
}

.loader-container {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility 250ms ease;

  &.is-visible {
    opacity: 1;
    visibility: visible;
    z-index: 6;
  }

  &.fixed {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 96px;
    left: 0;
    @media (max-width: 488px) {
      top: 140px;
    }
    & .pokeball {
      border-width: 13px;
    }
  }

  &.small {
    max-width: 30px;
    max-height: 30px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);

    & .pokeball {
      border-width: 2px;
    }
  }

  &.not-fixed {
    position: initial;
    height: 120px;
    width: 120px;

    & .pokeball {
      border-width: 6px;
    }
  }

}

@keyframes load {
  50% {
    transform: scale(0.7);
  }
}

.pokeball {
  width: 80%;
  max-width: 250px;
  aspect-ratio: 1;
  border-style: solid;
  border-color: #383b4f;
  border-radius: 50%;
  background-image: linear-gradient(#f51939 50%, white 50%);
  animation: load 1s infinite;
  position: relative;
}

.pokeball-content {
  width: 36%;
  aspect-ratio: 1;
  background-color: #383b4f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
}


.pokeball-content-center {
  width: 70%;
  height: 70%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.pokeball-content-center-inner {
  width: 50%;
  height: 50%;
  background-color: #383b4f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
