@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(249, 249, 249);
}

.btn {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  padding: 12px 12%;
  letter-spacing: 5px;
  color: #000;
  transition: 350ms linear;
  border: none;

  &:hover {
    background-color: #9E9E9E;
    color: #FFF;
  }

  &.active {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px -3px;
  }
}

.base-input {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 16px -3px;
  border-radius: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgb(196, 196, 196);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border: 0px;
  outline: 0px;
  width: 90vw;
  transition: all 150ms linear;

  &:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 4px;
  }
}

.auth-wrapper-blur {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(183, 183, 183, 0.8);
  z-index: 7;
}

.auth-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 34px;
  background-color: #F9F9F9;
  padding-top: 70px;
  padding-bottom: 35px;
  max-width: 420px;
}